# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cextensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
venv/
.venv/
env/
.env/
ENV/
env.bak/
venv.bak/

# Database and Data (Importante para o Tech Challenge)
# Ignoramos o banco de usuários para não subir dados sensíveis ou locais
data/*.db

data/*.csv

# Spyder project settings
.spyderproject
.spyproject

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Environment variables 
.env

# Logs
*.log